# Dependencies Import

In [8]:
import sklearn
import pandas as pd
import numpy as np

print("sklearn version: ", sklearn.__version__)
print("pandas version: ", pd.__version__)
print("numpy version: ", np.__version__)

sklearn version:  1.2.2
pandas version:  1.5.3
numpy version:  1.23.5

# Importing data

In [9]:
data = pd.read_csv('contents/Housing.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

# Splitting Dataset

In [10]:
from sklearn import model_selection

x_train, x_test, y_train, y_test = model_selection.train_test_split(data, data['price'], test_size=0.3, random_state=0)

x_train.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
454,3143000,4500,3,1,2,yes,no,no,no,yes,0,no,unfurnished
392,3500000,3990,3,1,2,yes,no,no,no,no,0,no,semi-furnished
231,4690000,4320,3,1,1,yes,no,no,no,no,0,yes,semi-furnished
271,4340000,1905,5,1,2,no,no,yes,no,no,0,no,semi-furnished
250,4515000,3510,3,1,3,yes,no,no,no,no,0,no,semi-furnished

# Preprocessing Dataset

  Categorical Value

In [ ]:
category_columns = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus']
for col in category_columns:
    print(col, " : ", data[col].unique())

from sklearn import preprocessing
category_encoder = preprocessing.OneHotEncoder()
categorical_x_train = x_train[category_columns]
categorical_x_test = x_test[category_columns]
categorical_y_train = y_train
categorical_y_test = y_test

categorical_x_train = category_encoder.fit_transform(categorical_x_train).toarray()
categorical_x_test = category_encoder.transform(categorical_x_test).toarray()
categorical_y_train = categorical_y_train.values.reshape(-1, 1)
categorical_y_test = categorical_y_test.values.reshape(-1, 1)

categorical_x_train.shape

Numerical Value